div {
    margin: 3px;
    width: 500px;
    text-align: center;
    cursor: pointer;
    border: 2px outset black;
    font-weight: bolder;
    padding: 20px;
}  
#clickme {
    width:500px;
    height:20px;
    background-color: rgb(116, 116, 253);
    color: white;
}
#rechthoek {
    width:500px;
    height:200px;
    background-color:rgb(182, 9, 9);
    display: none;    
}


